body{
  padding: 2em;
}

.logo{
  margin-right: 0.5em;
}

.file-upload{
  margin: 2em;
  text-align: center;
}

.table-preview{
  padding: 1em;
  margin: 2em;
  max-height: 40vh;
  overflow-y: auto;
}

.picker{
  padding: 1em;
  margin: 2em;
  background-color: #e5f2e5;
}

.picker div{
  padding: 1em;
}

.export{
  padding: 1em;
  margin:2em;
}