body{
  padding: 2em;
}

.logo{
  margin-right: 0.5em;
}

.help{
  margin: 2em;
  display: flex;
}

.table-preview{
  padding: 1em;
  max-height: 60vh;
  overflow-y: auto;
}

.section{
  margin: 2.5em;
}

.picker{
  margin-top: 1em;
}

.picker div{
  padding: 1em;
}

.export{
  padding: 1em;
}

.nav-links{
  margin-top: 5px;
}

.ui.ribbon.label{
  left: -1rem !important;
}

.label-correction{
  background-color: rgba(255, 251, 0, 0.5);
  font-style: italic !important;
  font-weight: bold !important;
}

.label-original{
  background-color: rgba(200, 200, 200, 0.274);
}