.modal{
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 2%);
}

.ui.page.modals.transition.visible {
    display: flex !important;
}

.direction-buttons{
    display: flex !important;
    align-items: center;
    margin: 5px !important;
}

.direction-buttons button{
    margin: 1em !important;
}