.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.direction-buttons{
    display: flex !important;
    align-items: center;
    margin: 5px !important;
}

.direction-buttons button{
    margin: 1em !important;
}