.leaflet-small-container {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}


.leaflet-full-container {
    height: 100%;
    margin: 0 auto;
}

.message{
    margin: 2em;
}

.panel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-panel{
    min-width: 28em;
    min-height: 30em;
    flex-grow: 1;
}

.right-panel{
    width: 65%;
    overflow-y: auto;
    flex-grow: 1;
}